/* All CSS code for Home Page */

/* Navigation Bar */
.nav-style {
    /* background-color: black; */
    color: black !important;
}

/* Header Section */
.header-bg {
    height: 75vh;
    background-image: url(../img/home_office.jpg);
    background-size: cover;
    background-position: center;
}

/* About Section */
.about-img {
    max-height: 400px;
}


/* Skills Section */
.section_skills {
    background-color: var(--light-blue);
}